<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a [routerLink]="['/home']" class="text-info" style="margin: 15px; font-size: xx-large;">
                                <b><i class="glyphicon glyphicon-home"></i></b>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="text-info pull-right" style="margin: 15px; font-size: large;" [routerLink]="['/edit']">
                                <i class="glyphicon glyphicon-plus"></i>
                                <b>Add Order</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <nav-menu></nav-menu>
        </div>
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
