<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Number</label>
                    <div class="col-sm-10">
                        <span>{{ Order?.number }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <span>{{ Order?.dateFormated }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <span>{{ Order?.status }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Total</label>
                    <div class="col-sm-10">
                        <span>{{ Order?.total }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger pull-right" (click)="Delete()">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Order?.items; let i = index">
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>